
<div class="col-xl-3 col-md-6 col-sm-12 pb-4">
    <div class="row justify-content-center">
        <div clas="col">
            <img src={{ include.img }} class="img-fluid">
            <div class="row mt-2 text-left">
                <div>
                    {{ include.name }}
                </div>
            </div>
            <div class="row mt-2 text-left">
                <div>
                    {{ include.title }}
                </div>
            </div>
            <div class="row mt-2 text-left">
                <div>
                    <p> {{ include.description }} </p>
                </div>
            </div>
        </div>
    </div>
</div>