<section id="are-you-with-us">
    <div class="content-container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="text-uppercase">
                    {{ page.are-you-with-us | markdownify }}
                </div>
                {{ page.we-want-make-world | markdownify }}
                <div>
                    <a href="{{ page.speakers_link }}"
                        class="page-scroll btn btn-xl btn-light-blue">{{ page.speakers }}</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center mt-4">
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center mt-4">
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center mt-4">
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center mt-4">
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
            <div class="speaker-element col-xl-2 col-md-6 col-sm-12 pb-4">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/200" class="img-fluid"></a>
                <div class="tooltiptext">
                    <p>Title</p>
                    <p>Subtitle</p>
                </div>
            </div>
        </div>
    </div>
</section>
