<section id="are-you-with-us">
  <div class="row">
    <div class="col-12 text-center">
      <div class="text-uppercase">
      {{ page.are-you-with-us | markdownify }}
     </div>
      {{ page.we-want-make-world | markdownify }}
      <div>
        <a href="#" class="page-scroll btn btn-xl btn-light-blue">{{ page.speakers }}</a>
      </div>
    </div>
  </div>
  <div class="mt-4 row justify-content-center">
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
  </div>
  <div class="mt-4 row justify-content-center">
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
  </div>
  <div class="mt-4 row justify-content-center">
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
  </div>
  <div class="mt-4 row justify-content-center">
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
      <div class="col-2">
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/200"></a>
      </div>
  </div>
</section>