<section id="intro" class="intro-text">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-xl-6">
        <div class="bg-image-world ">
            <div class="row d-flex ml-4 justify-content-center">
                <div class="col-sm-12 col-xl-10">
                  <div class="text-sm-center text-xl-left mt-5">
                    <div class="intro-text">
                        {{page.lets | markdownify}}
                        {{page.time-for-yes | markdownify}}
                    </div>
                    <div class="mt-3">
                        <a href="#" class="page-scroll btn btn-xl">{{page.about-event}}</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-xl-10">
                    <div class="text-sm-center text-xl-left mt-5">
                      <div class="intro-text">
                          {{page.brutally-honest | markdownify}}
                          {{page.we-want-you-part | markdownify}}
                      </div>
                      <div class="mt-3">
                          <a href="#" class="page-scroll btn btn-xl">{{page.apply-tickets}}</a>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
      </div>
    </div>
</section>