<div class= "ml-auto" id="lang-bar">
    {% if page.ref!=null %}
      {% assign pages=site.pages | where:"ref", page.ref %}
      {% for p in pages %} 
          {% if p.lang == "fi"  %}
            {% if page.lang == "fi"  %}
              <a href="#" class="{{ page.lang }} active"> FI </a>
            {% else  %}
             <a href="{{ p.url | prepend: site.baseurl }}" class="{{ page.lang }}"> FI </a>
            {% endif %}
          {% elsif p.lang == "en" %}
            {% if page.lang == "en"  %}
              <a href="#" class="{{ page.lang }} active"> EN </a>
            {% else  %}
             <a href="{{ p.url | prepend: site.baseurl }}" class="{{ page.lang }}"> EN </a>
            {% endif %}
          {% endif %}
      {% endfor %}
    {% endif %}
</div>