<section id="intro" class="intro-text">
    <div class="row">
        <div class="col-12 align-items-center my-auto">
            <div class="row">
              <div class="col-xl-6 col-sm-12 text-center">
                <div class="mt-4 ">
                  <a href="https://placeholder.com"><img src="https://via.placeholder.com/300" class="img-fluid"></a>
                </div>
                <div class="mt-4">
                  <p>
                    September 11, 2019
                  </p>
                </div>
                <div>
                  <p>Bio Rex, Helsinki</p>
                </div>
              </div>
              <div class="col-xl-6 col-sm-12 ">
                <div>
                  <a href="https://placeholder.com"><img src="https://via.placeholder.com/600" class="img-fluid"></a>
                </div>
              </div>
            </div>
        </div>
      </div>
</section>