<!-- <div class="navbar-collapse collapse order-3 dual-collapse2" id="lang-bar"> -->
    <ul id="lang-bar" class="navbar-list">
    {% if page.ref!=null %}
      {% assign pages=site.pages | where:"ref", page.ref | sort: "lang" | reverse %}
      {% for p in pages %} 
        <li class="nav-item lang-item">
          {% if p.lang == "fi"  %}
            {% if page.lang == "fi"  %}
              <a href="#" class=" nav-link {{ page.lang }} active"> FI </a>
            {% else  %}
             <a href="{{ p.url | prepend: site.baseurl }}" class="nav-link {{ page.lang }}"> FI </a>
            {% endif %}
          {% elsif p.lang == "en" %}
            {% if page.lang == "en"  %}
              <a href="#" class="nav-link {{ page.lang }} active"> EN </a>
            {% else  %}
             <a href="{{ p.url | prepend: site.baseurl }}" class="nav-link {{ page.lang }}"> EN </a>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    {% endif %}
    </ul>
<!-- </div> -->