{% include head.html %}
{% include nav.html %}

  <div id="about" class="background-whole-world">
    <div id="page-top">
        <section id="about-section">
          <div class="content-container">
            {{content}}
          </div>
        </section>
        <div id="top-earth-yellow" class="top-earth-bg">
          </div>
        <section id="apply-tickets">
          <div class="content-container">
            {% if page.lang == "en"  %}
              {% capture my_include %}
                {% include program_en.md %}
              {% endcapture %}
            {% else %}
              {% capture my_include %}
                {% include program.md %}
              {% endcapture %}
            {% endif %}    
            {{ my_include | markdownify }}
          </div>
          <div class="top-earth-bg  top-earth-blue"></div>
        </section>
       
    </div>
    
  </div>
{% include footer.html %}
