<!DOCTYPE html>
<html>
{% include home_data/head.html %}
{% include home_data/lang_bar.html %}
{% include home_data/nav.html %}

<!--
      {% for page in site.pages %}
        {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
      {% endfor %}
  -->

<body id="body" class="index">
  <div>
    <div id="page-top">
      <div class="text-center">
        <div class="intro-heading">
          <img src="" alt="LOGO">
          <p id="lets">The Era of Let’s! Has Begun</p>
        </div>
      </div>
      {% include home_data/intro.html %}
    </div>
    <div id="page-bottom">
      {% include home_data/organisers.html %}
    </div>
  </div>
</body>
</html>