{% include head.html %}
{% include nav.html %}

  <div id="speakers" class="background-whole-world">
    <div class="row justify-content-center pt-5">
      <div class="col-7">
        <h1> {{ page.speakers }}</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-7">
        <h2>{{ page.speakers-subtitle }}</h2>
      </div>
    </div>
    <section id="speakers-grid">
      <div class="content-container">
          <div class="row justify-content-center mt-4">
            {% for person in site.data.speakers[page.lang] %}
              {% include speakers/speaker_grid.html name=person.name title=person.title description=person.description img=person.img %}
            {% endfor %}
          </div>
      </div>
    </section>
    <div id="top-earth-yellow" class="top-earth-bg">
    </div>
  </div>

{% include footer.html %}
