{% include head.html %}
{% include nav.html %}

  <div id="speakers">
    <div class="row justify-content-center pt-5">
      <div class="col-7">
        <h1> {{ page.speakers }}</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-7">
        <h2>{{ page.speakers-subtitle }}</h2>
      </div>
    </div>
    {% include speakers_data/speakers_grid.html %}
    <div id="top-earth-yellow" class="top-earth-bg top-earth-yellow">
    </div>
  </div>

{% include footer.html %}
