<section id="event-date">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center">
      <img src="" class="img-responsive img-centered" alt="The Globe">
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <p>
        HELSINKI CLIMATE - {{ page.event-date }}
      </p>
      <p class="hero-text">
        PLACEHOLDER
      </p>
      <p>
        Bread text placeholder
      </p>
      <div>
        <a href="#" class="page-scroll btn btn-xl">{{ page.about-us }}</a>
      </div>
    </div>
</section>