<section id="intro" class="intro-text">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-xl-7">
        <div class="bg-image-world pb-3">
            <div class="row d-flex ml-4 justify-content-center">
                <div class="col-sm-12 col-xl-11">
                  <div class="text-sm-center text-xl-left mt-5">
                    <div class="intro-text">
                      <div id="lets" class="intro-text-header">
                      </div>
                      <div class="intro-text mt-2">
                          {{page.time-for-yes | markdownify}}
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="{{ page.about_link }}" class="page-scroll btn btn-xl">{{page.about-event}}</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</section>
<script>
  const interval = 3000
  var lets = "{{page.lang | escape}}" === 'fi  ' ? "<b>Let's</b> " : "<b>Let's</b> "
  var sentences = [
  {% for speaker in site.data.lets[page.lang] %}
    '{{ speaker.sentence}}'{% unless forloop.last %},{% endunless %}
  {% endfor %}
  ]
  var counter = Math.floor(Math.random() * 6);
  $('#lets').html(lets + sentences[counter % sentences.length]);
  setInterval(change, interval);
  function change() {
    counter++;
    $('#lets').html(lets + sentences[counter % sentences.length]);
    
  }
</script>