<section id="intro" class="intro-text">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-xl-6">
        <div class="bg-image-world pb-3">
            <div class="row d-flex ml-4 justify-content-center">
                <div class="col-sm-12 col-xl-10">
                  <div class="text-sm-center text-xl-left mt-5">
                    <div class="intro-text">
                      <div class="intro-text-header">
                        {{site.data.speakers[page.lang][0].name}}
                      </div>
                      <div class="intro-text">
                          {{page.time-for-yes | markdownify}}
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="{{ page.about_link }}" class="page-scroll btn btn-xl">{{page.about-event}}</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</section>
<script>
    const interval = 3000
    var markers = "{{page.time-for-yes | json}}";
    var text = [
      "<b>Let's</b> go carbon neutral.",
      "<b>Let's</b> talk about 2030.",
      "<b>Let's</b> make 1.5C a reality.",
      "<b>Let's</b> be honest with our youth.",
      "<b>Let's</b> move towards a one planet economy.",
      "<b>Let's</b> build a fossil-free society.",
      "<b>Let's</b> face the carbon-free facts.",
      "<b>Let's</b> make solutions for a 1.5C world.",
    ];
    var counter = Math.floor(Math.random() * 6);
    $('#lets').html(text[counter % text.length]);
    setInterval(change, interval);
    function change() {
      counter++;
      $('#lets').html(text[counter % text.length]);
      
    }
  </script>