<section id="live">
    <div class="row">
      <div class="col-12 align-items-center my-auto">
            <div id="live-logo-container" class=" text-center mb-4">
              <div>
                  <img src="/resources/img/logos/helsinki_climate_live.png" id="helsinki-small-logo-front"  class="img-fluid" alt="Helsinki logo">
                </div>
            </div>
            <div id="live-video-container">
              <!-- Copied from https://embedresponsively.com/, changed youtube url to nocookie version-->
              <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
              <div class='embed-container'>
                <iframe src='https://www.youtube-nocookie.com/embed/ltdrTf57T2s' frameborder='0' allowfullscreen></iframe>
              </div>
          </div>
      </div>
    </div>
</section>