<section id="live">
    <div class="row">
      <div class="col-12 align-items-center my-auto">
            <div class="align-self-center text-center mb-5">
              <div class="mt-4 ">
                <img src="/resources/img/logos/helsinki_climate_logo.png" id="helsinki-small-logo-front"  class="img-fluid" alt="Helsinki logo">
              </div>
            </div>
            <div class="align-self-center text-center mb-5">
              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/_VbFNARpfus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
      </div>
    </div>
</section>