<div id="organisers">
    <div class="organisers-bottom row">
        <div class="col-md-3 col-sm-6 ">
            {% if page.lang == "fi" %}
                <a href="https://www.ilmastoveivi2019.fi/">
            {% elsif page.lang == "en" %}
                <a href="https://www.ilmastoveivi2019.fi/en.html">
            {% endif %}
                    <img src="/resources/img/logos/ilmastoveivi.png" id="ilmastoveivi" class="img-responsive img-centered"
                alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            {% if page.lang == "fi" %}
                <a href="https://www.demoshelsinki.fi/">
            {% elsif page.lang == "en" %}
                <a href="https://www.demoshelsinki.fi/en/">
            {% endif %}
                    <img src="/resources/img/logos/demoshelsinki.png" id="demoshelsinki" class="img-responsive img-centered"
                alt="">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="https://www.greenpeace.org/finland/">
                <img src="/resources/img/logos/greenpeace.png" id="greenpeace" class="img-responsive img-centered" alt="">
            </a>
        </div>
    </div>
    <div class="organisers-bottom row text-center">
        <div class="col-md-12 col-sm-12 ">
            {% if page.lang == "fi" %}
                <h2>Tukijat</h2>
            {% elsif page.lang == "en" %}
                <h2>Supported by</h2>
            {% endif %}
        </div>
    </div>
    <div class="organisers-bottom-partners row">
        <div class="col-md-4 col-sm-6 ">
            {% if page.lang == "fi" %}
                <a href="https://wihurinrahasto.fi/">
            {% elsif page.lang == "en" %}
                <a href="https://wihurinrahasto.fi/?lang=en">
            {% endif %}
                    <img src="/resources/img/logos/jawr-logo.png" id="jawr" class="img-responsive img-centered" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            {% if page.lang == "fi" %}
                <a href="https://www.sitra.fi/">
            {% elsif page.lang == "en" %}
                <a href="https://www.sitra.fi/en/">
            {% endif %}
                    <img src="/resources/img/logos/sitra.png" id="sitra" class="img-responsive img-centered" alt="" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            {% if page.lang == "fi" %}
                <a href="http://smartclean.fi">
            {% elsif page.lang == "en" %}
                <a href="http://smartclean.fi/en/">
            {% endif %}
                    <img src="/resources/img/logos/smartclean.png" id="smartclean" class="img-responsive img-centered"
                    alt="" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            {% if page.lang == "fi" %}
                <a href="http://gofore.com">
            {% elsif page.lang == "en" %}
                <a href="https://gofore.com/en/home/">
            {% endif %}
                    <img src="/resources/img/logos/gofore_logo_white.png" id="gofore" class="img-responsive img-centered"
                    alt="" />
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            {% if page.lang == "fi" %}
                <a href="https://www.hel.fi/">             
            {% elsif page.lang == "en" %}
                <a href="https://www.hel.fi/helsinki/en">
                {% endif %}
                    <img src="/resources/img/logos/helsinki_kaupunki.png" id="helsinki" class="img-responsive img-centered"
                alt=""/>
            </a>
        </div>
    </div>
    <div class="organisers-bottom row text-center pb-2">
        <div class="col-md-12 col-sm-12 ">
            {% if page.lang == "fi" %}
                <a id="privacy-policy" href="https://www.demoshelsinki.fi/tietosuojaseloste/">Tietosuojaseloste</a>
            {% elsif page.lang == "en" %}
                <a id="privacy-policy" href="https://www.demoshelsinki.fi/en/privacy-policy/">Privacy policy</a>
            {% endif %}
        </div>
    </div>
</div>