<section id="talk_show" class="intro-text">
        <div class="d-flex justify-content-between">
          <div class="align-self-center">
            <img src="/resources/img/helsinki_climate_globe_left_side.png"  class="img-fluid">
          </div>
            <div class="text-center mt-5">
              <h2>{{page.we-want-you-part | markdownify}}</h2>
              <div class="intro-text">
                  {{page.brutally-honest | markdownify}}
              </div>
              <div class="mt-3">
                  <a href="#" class="page-scroll btn btn-xl">{{page.apply-tickets}}</a>
              </div>
            </div>
            <div class="align-self-center">
              <img src="/resources/img/helsinki_climate_globe_right_side.png"  class="img-fluid">
          </div>
        </div>
      </div>
    </div>
</section>